@import "/scss/utils/utils.scss";

.hero {
  opacity: 0;
}

.heroImgLoaded {
  background-color: var(--fern);
  position: relative;
  min-height: 100vh;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 6rem;
  max-width: var(--max-width-layout);
  margin: 0 auto;
}

.h1_logo {
  min-width: 80%;
  margin-bottom: 3rem;
}

.text {
  flex: 0;
  color: var(--cream);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5rem;
  backdrop-filter: blur(2rem);
}

.h1 {
  font-size: 10rem;
  color: var(--cream);
}

.h2 {
  font-size: 4.8rem;
}

.p {
  font-size: 3rem;
  line-height: 1.3;
  text-align: center;

  @include mq(md) {
    max-width: 60rem;
  }
}
