@import "/scss/utils/utils.scss";

.image {
  width: 35rem;
  height: auto;
}

.main_menu {
  font-size: 1.6rem;
  outline: transparent;
  height: 100%;

  @include mq(md) {
    font-size: 2.6rem;
  }

  .main_menu_list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .main_menu_list_item {
      list-style: none;

      > a {
        padding: 1rem;
        display: inline-flex;
        align-items: center;
        height: 6rem;
        font-weight: regular;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--fern);
        cursor: pointer;
        transition: color 0.3s ease-in;
      }

      .logo {
        display: block;
        text-align: center;
        padding: 0;
      }
    }

    .main_menu_list_item:hover {
      > a {
        color: var(--cream);
      }
    }
  }
}
