backend:
  name: git-gateway
  branch: master
media_folder: public/img
public_folder: img
collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "Home"
        name: "home"
        file: "content/home.md"
        fields:
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "background image",name: "heroBackground", widget: "image", default: "/img/home-1600.jpg" }
          - { label: "Title", name: "heroHeading", widget: "string" }
          - { label: "Chapeau", name: "heroSubHeading", widget: "markdown" }
            
      - label: "Contact"
        name: "contact"
        file: "content/contact/index.md"
        fields:
          - { label: "Text", name: "text", widget: "string" }

      - label: "Menu"
        name: "menu"
        file: "content/menu/index.md"
        widget: list
        fields:
          - label: "Liens menu"
            name: "menuLinks"
            widget: "list"
            fields:
                - { label: "url", name: "slug", widget: "string"}
                - { label: "menu", name: "menuLink", widget: "string"}

      - label: "Prestations Hero"
        name: "prestations"
        file: "content/prestations/index.md"
        widget: list
        fields:
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "background image",name: "heroBackground", widget: "image", default: "/img/test-1600.jpg" }
          - { label: "Titre",name: "heroHeading", widget: "string" }
          - { label: "Chapeau",name: "heroSubHeading", widget: "markdown" }

      - label: "Atouts Hero"
        name: "atouts"
        file: "content/atouts/index.md"
        widget: list
        fields:
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "background image",name: "heroBackground", widget: "image", default: "/img/test-1600.jpg" }
          - { label: "Titre",name: "heroHeading", widget: "string" }
          - { label: "Chapeau",name: "heroSubHeading", widget: "markdown" }

      - label: "Inspiration Hero"
        name: "inspiration"
        file: "content/inspiration/index.md"
        widget: list
        fields:
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "background image",name: "heroBackground", widget: "image", default: "/img/test-1600.jpg" }
          - { label: "Titre",name: "heroHeading", widget: "string" }
          - { label: "Chapeau",name: "heroSubHeading", widget: "markdown" }

      - label: "Vision Hero"
        name: "vision"
        file: "content/vision/index.md"
        widget: list
        fields:
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "background image",name: "heroBackground", widget: "image", default: "/img/test-1600.jpg" }
          - { label: "Titre",name: "heroHeading", widget: "string" }
          - { label: "Chapeau",name: "heroSubHeading", widget: "markdown" }
