backend:
  name: git-gateway
  branch: master
media_folder: public/img
public_folder: img
collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "Home"
        name: "home"
        file: "content/home.md"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - { label: "heroHeading", name: "heroHeading", widget: "markdown" }
          - {
              label: "heroSubHeading",
              name: "heroSubHeading",
              widget: "markdown",
            }
      - label: "Contact"
        name: "contact"
        file: "content/contact/index.md"
        fields:
          - { label: "Text", name: "text", widget: "string" }


      - label: "Liens Menu"
        name: "menu"
        file: "content/menu/index.md"
        widget: list
        fields:
          - { label: "Lien (slug)", name: "slug", widget: "string"}
          - { label: "Lien (menu)", name: "menuLink", widget: "string"}
